[submodule "sun20i_d1_spl"]
	path = sun20i_d1_spl
	url = https://github.com/smaeul/sun20i_d1_spl
[submodule "linux"]
	path = linux
	url = https://github.com/smaeul/linux
[submodule "opensbi"]
	path = opensbi
	url = https://github.com/smaeul/opensbi
[submodule "rtl8723ds"]
	path = rtl8723ds
	url = https://github.com/lwfinger/rtl8723ds.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv/riscv-gnu-toolchain
[submodule "u-boot"]
	path = u-boot
	url = https://github.com/smaeul/u-boot.git
